{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="content">
            <!-- START FAQ -->
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h1 class="mt-0"><i class="mdi mdi-frequently-asked-questions"></i></h1>
                                <h3>Content Hub <span class="text-primary">Advantages</span></h3>
                                <p class="text-muted mt-2">Here are some of the basic types of questions for our customers. For more 
                                    <br>information please contact us.</p>
    
                                <button type="button" class="btn btn-success btn-sm mt-2"><i class="mdi mdi-email-outline mr-1"></i> Customer Interactions</button>
                                <button type="button" class="btn btn-info btn-sm mt-2 ml-1"><i class="mdi mdi-twitter mr-1"></i> Unique Oportunities</button>
                            </div>
                        </div>
                    </div>
    
                    <div class="row mt-5">
                        <div class="col-lg-5 offset-lg-1">
                            <!-- Question/Answer -->
                            <div>
                                <div class="faq-question-q-box">Q.</div>
                                <h4 class="faq-question text-body">Can I use this template for my client?</h4>
                                <p class="faq-answer mb-4 pb-1 text-muted">Yup, the marketplace license allows you to use this theme
                                    in any end products.
                                    For more information on licenses, please refere <a href="https://themes.getbootstrap.com/licenses/" target="_blank">here</a>.</p>
                            </div>
    
                            <!-- Question/Answer -->
                            <div>
                                <div class="faq-question-q-box">Q.</div>
                                <h4 class="faq-question text-body">How do I get help with the theme?</h4>
                                <p class="faq-answer mb-4 pb-1 text-muted">Use our dedicated support email (support@coderthemes.com) to send your issues or feedback. We are here to help anytime.</p>
                            </div>
    
                        </div>
                        <!--/col-lg-5 -->
    
                        <div class="col-lg-5">
                            <!-- Question/Answer -->
                            <div>
                                <div class="faq-question-q-box">Q.</div>
                                <h4 class="faq-question text-body">Can this theme work with Wordpress?</h4>
                                <p class="faq-answer mb-4 pb-1 text-muted">No. This is a HTML template. It won't directly with
                                    wordpress, though you can convert this into wordpress compatible theme.</p>
                            </div>
    
                            <!-- Question/Answer -->
                            <div>
                                <div class="faq-question-q-box">Q.</div>
                                <h4 class="faq-question text-body">Will you regularly give updates of Hyper?</h4>
                                <p class="faq-answer mb-4 pb-1 text-muted">Yes, We will update the Hyper regularly. All the
                                    future updates would be available without any cost.</p>
                            </div>
    
                        </div>
                        <!--/col-lg-5-->
                    </div>
                    <!-- end row -->
    
                </div> <!-- end container-->
            </section>
            <!-- END FAQ -->
</div>
{% endblock %}